# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# Node modules
frontend/node_modules/

# Build outputs
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
